Source: #PACKAGE#
Section: comm
Priority: optional
Maintainer: #USERNAME# <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#
Homepage: https://nixys.ru

Package: #PACKAGE#
Architecture: amd64
Depends: ${misc:Depends}, libevent-nxs, libssl1.0.0, libjansson4, libcurl3, libmysqlclient18
Description: Nixys chat bot that integrates Telegram and Redmine
