Source: #PACKAGE#
Section: devel
Priority: optional
Maintainer: Boris Ershov <#EMAIL#>
Build-Depends: #BUILD_DEPS#
Standards-Version: #POLICY#
Homepage: http://www.nixys.ru

Package: #PACKAGE#
Architecture: amd64
Depends: ${misc:Depends}, libevent-nxs (>= 2.1.8), libssl1.0.0, libjansson4, libcurl3, libmysqlclient18
Description: Nixys Chat Server
